@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* google fonts */

*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

body{
    background-color: #EFF6E0;
}

.panel{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boton{
    background: linear-gradient(to left, #072834, #0B4D66);
    border-radius: 2px;
    color: white;
    border: none;
    height: 30px;
    padding: 5px;
    cursor: pointer; 
}
.boton:focus{
    box-shadow: 0px 0px 1px 1px rgba(89,131,146,1);
}

.entrada{
    height: 25px;
}
.entrada:focus{
    outline: none;
    box-shadow: 0px 0px 1px 1px rgba(89,131,146,1);
}

#divAutos{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.styleAgregar {
    background: linear-gradient(to left, #dce35b, #45b649); 
    border-radius: 2px;
    border: solid black 1px;
    box-shadow: none;
    height: 30px;
    width: 100px;
    cursor: pointer; 
    transition: all .2s;
}

.styleAgregar:hover{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5); 
}

.fotoAuto{
    width: 400px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
}

.styleAutos{
    background: linear-gradient(to left, #5B7B94, #0B4D66);
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    width: auto;
    text-align: center;
}
.styleAutos p{
    margin: 10px;
}

.styleCarrito{
    text-transform: capitalize;
    background-color: #124559;
    color: white;
    padding: 10px;
    border-bottom: 1px solid black;
}
.styleCarrito p{
    margin: 10px;
}

.styleCompra{
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
    background-color: #AEC3B0;
}

.success{
    background-color: lime;
}
.error{
    color: white;
    background-color: red;
}